{% extends 'base.html.twig' %}

{% block content %}

<div class="row">
    <div class="col-md-6 ml-auto mr-auto">
        <h2>Posez votre question</h2>
        {{ form_start(formQuestion)}}
        
        {{ form_widget(formQuestion)}}
        
        <button type="submit" class="btn btn-success">Ajouter vote question</button>
        
        {{ form_end(formQuestion)}}
        
    </div>
</div>

{% endblock %}