{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col - lg-8">
            <h2 id="header-margin">
                Toutes les questions du #Tag {{tag.title}}
            </h2>
            <hr>
            
            {% for question in tag.questions %}
            <h5>
                <div class="actor">
                    {{ question.entitled }}
                </div>
            </h5>
            {% if not app.user%}
            <a href="{{ path('app_login')}}" class="badge badge-success">Connectez-vous pour Répondre / Voir la réponse</a>
            {% else %}
            <a href="{{ path('question_show', {'id' : question.id})}}" class="badge badge-success">Répondre / Voir la réponse</a>
            {% endif %}
            
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}